<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Plinth'17" />
        <meta name="description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="keywords" content="Plinth, Plinth'17, Technical Fest, Management Fest, Literary Fest, MUN, Fest, LNMIIT, Jaipur, Robotics, Astronomy, Workshops, WikitoLearn, Vivacity, Desportivos">
        <meta name="robots" content="index"/>
        <meta property="og:title" content="Plinth'17">
        <meta property="og:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta property="og:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta property="og:url" content="https://plinth.in/">
        <meta property="fb:app_id" content="168845313579478">
        <meta name="author" content="Mukul Jain">
        <meta name="twitter:title" content="Plinth'17">
        <meta name="twitter:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="twitter:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <title>Cryptex | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/cryptex.css">
        <link rel="stylesheet" href="css/cryptex-dashboard.css">
        <style>
            .master-wrapper{
                display: none
            }
        </style>
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        <section class="cryptex-wrapper question">
            <div class="row">
                <div class="small-10 small-centered medium-12 column contentmain">
                    <span class="level-text" >Level #<%- levelNumber %><span>
                    <div class="row">
                        <div class="small-10 medium-8 large-6 small-centered column">
                            <div class="contentImage text-center">
                                <form action="editlevel/image/<%= levelNumber %>" class="dropzone dropzone-art" id="my-awesome-dropzone"></form>
                                <% if(doc.image !== undefined){ %>
                                    <div class="contentImage text-center">
                                        <img src="<%= doc.image %>">
                                    </div>
                                <%}%>
                                <form action="javascript:void(0)" class="text-center">
                                    <div class="group group-center">
                                        <input type="text" id="in-name" class="cryptex-question" value="<%= doc.question %>" required>
                                        <span class="highlight"></span>
                                        <label>Question</label>
                                    </div>
                                    <div class="group group-center">
                                        <input type="text" id="in-name" class="cryptex-answer" value="<%= doc.answer %>" required>
                                        <span class="highlight"></span>
                                        <label>Answer</label>
                                    </div>
                                    <br>
                                    <input type="submit" value="Submit" class="reg-form-btn-register cryptex-btn" onclick="editLevel()">
                                </from>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include partials/footer%>
        <script src="js/index.js"></script>
        <script src="js/vendor/dropzone.js"></script>
        <script>
            Dropzone.options.myAwesomeDropzone = {
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 0.5, // MB
              headers : {"level" : "<%= levelNumber %>"},
              acceptedFiles : 'image/*',
              uploadMultiple : false,
            };

            function editLevel(){
                var x = getQuestionAnswer();
                if(!validateQuestionAnswer(x)){
                    return;
                }
                $.post( {
                    url: "/cryptex/editlevel/question",
                    contentType: 'application/json; charset=utf-8',
                    dataType : 'json',
                    data: JSON.stringify(x)
                })
                .done(function( data ) {
                    deactivateLoader();
                    if(data.response){
                        notifDisplay(1,1);
                    }
                    else {
                        notifDisplay(0,0);
                    }
                })
                .fail(function(response) {
                    apiCallFail(response);
                });
            }

            function getQuestionAnswer(){
                userDetail ={
                    question : $('.cryptex-question').val(),
                    answer : $('.cryptex-answer').val(),
                    level : <%= levelNumber %>
                }
                return userDetail;
            }

            function validateQuestionAnswer(data){
                if(data.question === "" || data.answer === "")
                    return false;
                else
                    return true;
            }
        </script>

    </body>
</html>
