<html>
<head>
	<title>Plinth Payment Page</title>
	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,600,700" rel="stylesheet">
	<style>
	@media print {
			body * {
				visibility: hidden;
			}
			.print-material, .print-material * {
				visibility: visible;
			}
			.print-material {
				position: absolute;
				top: 0;
				box-shadow: 0 0 0 0 rgb(255,255,255);
			}
		}
		.print-material{
			font-family: 'Exo 2', sans-serif;
			width: 595px;
			height: 842px;
			position: relative;
			margin-left: auto;
    		margin-right: auto;
			margin-bottom: 100px;
			box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.1);
		}
		.PlinthLogo{
			width: 42px;
    		margin: 10px 0px 0px 10px;
		}
		.LNMIIT{
			height: 27px;
			float: right;
			margin: 10px 10px 0px 0px;
		}
		.title{
			text-align: center;
		}
		.Plinth{
			width: 126px;
			margin-top: 40px;
			margin-bottom: 40px;

		}
		.text{
			text-decoration: underline;
			font-size: 16px;
			font-weight: 300;
		}
		.recepit-details-wrapper{
			padding: 0px 50px;
		}
		.recepit-details{
			height: 39px;
			margin-top: 40px;
			margin-bottom: 40px;
			position: relative;
		}
		.participants{
			font-weight: 600;
			font-size : 16px;
			display: inline-block;
			float: left;
			position: absolute;
			bottom : 0px;
		}
		.details{
			display: inline-block;
			float: right;
			text-align: right;
			font-weight: 800;
			color : #4a4a4a;
			font-size: 11px;
		}
		.entries{
			margin-bottom: 10px;
		}
		.participants-details .other{
			font-weight: 700;
			color: #4a4a4a;
			font-size: 10px;
		}
		.participants-details{
			display: inline-block;
		}
		.amount{
			float: right;
			display: inline-block;
		}
		.print-footer{
			border-top: 1px solid;
		    position: absolute;
		    padding-top: 10px;
		    padding-left: 7px;
		    padding-right: 7px;
		    color: black;
		    bottom: 0px;
		    width: 581px;
		    height: 52px;
		    font-size: 12px;
		    padding-bottom: 4px;
		}
		.print-footer div{
			display: inline-block;
		}
		.print-footer .query-payment{
			float: right;
			margin-top: 17px;
		}
		.button{
			display: inline-block;
			background-color: #20B9ED;
			padding:10px;
			width:110px;
			height:20px;
			color:white;
			margin:10px;
			margin-top: 0px;
			border-radius: 2px;
			text-decoration: none;
			text-align : center;
			font-family: 'Exo 2', sans-serif;
			font-weight: 600;
			font-size : 14px;
			cursor: pointer;
		}
		.btn-footer{
			position: fixed;
			bottom: 0px;
			width: 100%;
			height: 60px;
			background: white;
			left: 0px;
			z-index: 1;
			padding-top: 18px;
			box-shadow: 0px -2px 10px 4px rgba(0,0,0,0.1);
			text-align: center;
			padding-bottom: 7px;
		}
	</style>
</head>
<body>
	<div class="btn-footer">
		<a class="button" href="<%- backURL %>">Back</a>
		<a class="button" onclick="window.print();">Download</a><br>
		<span style="font-size:10px;">*Any kind tempering of data will lead to disqualifcation or permanent ban.<span>
	</div>

<div class="print-material">
	<div class="header">
		<img class="PlinthLogo" src="media/plinth-white-logo.svg">
		<img class="LNMIIT" src="media/LNMIIT.png">
	</div>
	<div class="title">
		<img class="Plinth" src="media/plinth-ie.svg">
		<div class="text">Payment Receipt</div>
	</div>
	<div class="recepit-details-wrapper">
		<div class="recepit-details">
			<div class="participants">Participants</div>
			<div class="details">
				Date: <%- details.payment.date %><br>
				Event Name: <%- details.eventName %><br>
				Order ID: <%- details.payment.order_id %>
			</div>
		</div>
		<% for(var i=0; i<details.team.length; i++){ %>
		<div class="entries">
			<div class="participants-details">
				<span class="name"><%- details.team[i].name %></span><br>
				<span class="other"><%- details.team[i].email %><br>
				<%- details.team[i].phoneNumber %></span>
			</div>
		</div>
		<% } %>
		<hr>
		<div style="float:right"><%- details.payment.amount %></div>
	</div>
	<div class="print-footer">
		<div>
			The LNM Institute Of Information Technology<br>
			Rupa ki Nangal, Post-Sumel, Via-Jamdoli, Jaipur-302031, Rajasthan.<br>
			<span style="margin-top: 4px; display: inline-block;">plinth.in | plinth@lnmiit.ac.in</span>
		</div>
		<div class="query-payment">For any query regarding payment :<br>
			help.plinth@gmail.com</div>
		</div>
</div>
</body>
</html>
